*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #9094b1;
}
h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #060a0f;
}
h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #1d2e3f;
}